html, body {
    background: #ff6f61;
    background-image: radial-gradient(circle at center, #ff6f61, #f21e12);
    color:white;
    font-family: sans-serif;
    height: 100%;
    margin:0;
    padding: 5px 10px;
    box-sizing: border-box;
}

.camera-app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.camera-app-container img {
    max-height: 70px;
    display: block;
}

.camera-app-container p {
    text-align: center;
}

.camera-container {
    position: relative;
    max-height: calc(100% - 150px);
}

.camera-container video, .camera-container canvas, .camera-container .corners {
    max-width: 100%;
    max-height: 100%;
}

.camera-container canvas, .camera-container .corners {
    position: absolute;
    height:100%;
    width: 100%;
    top:0;
}

.camera-container .corners img {
    margin: 20px;
    position: absolute;
}

.camera-container .corners img:nth-child(2) {
    bottom:0;
    transform: scaleY(-1);
}

.camera-container .corners img:nth-child(3) {
    right:0;
    transform: scaleX(-1);
}

.camera-container .corners img:nth-child(4) {
    right:0;
    bottom:0;
    transform: scale(-1);
}