* {
    box-sizing: border-box;
}
html{
    background: #eaeaea;
    height:100%;
    width: calc(100% - ((100vw - 100%)));
    padding: 0;
    margin:0;
    margin-left: calc((100vw - 100%));
    font-family: 'Roboto', sans-serif;
}
body{
    max-width: 1163px;  
    margin: 0 auto;
    padding: 0 2rem;
}
button {
    font-family: 'Roboto', sans-serif;

}
@media (max-width: 640px){
    body {
        padding: 0 1rem;
    }
}
a {
    color: #555;
    text-decoration: none;
}
hr {
    border: none;
    border-bottom: 1px solid lightgray;
    margin: 1rem 0;
}
h1,h2,h3,h4 {
    margin-top: 0;
    color: #505050;
    font-weight: 700;
}
body.under-modal{
    overflow-y: hidden;
}
.small-text{
    font-size:13px;
}
.caret-right::after {
    content: '›';
    display: inline-block;
    position: relative;
    bottom: 0.06em;
    margin: 0 0.1em;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem -1rem;
    
}
.grid__item {
    box-sizing: border-box;
    width: calc(33.3% - 2rem);
    padding: 1.6rem 1rem;
    margin: 0 1rem 2rem;
    line-height:1.4em;
    min-height:250px;
    background: white;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
}
.grid__item--flat {
    background: none;
    box-shadow: none;
}
.grid__item--double {
    width: calc(66.6% - 2rem);
}
@media (max-width: 800px){
    .grid__item {
        margin: 1rem 1rem;
        width: calc(50% - 2rem);
    }
    .grid__item--double {
        width: calc(100% - 2rem);
    }
}
@media (max-width: 540px){
    .grid__item {
        width: calc(100% - 1rem);
    }
}
.row {
    display: flex;
}
.row--center-sb{
    align-items: center;
    justify-content: space-between;
}
.modal {
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.7);
    display: none;
    -webkit-animation-name: modal-fade-in;
            animation-name: modal-fade-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;

}
@-webkit-keyframes modal-fade-in{
    0% {background: rgba(0,0,0,0);}
    100% {background: rgba(0,0,0,0.7);}
}
@keyframes modal-fade-in{
    0% {background: rgba(0,0,0,0);}
    100% {background: rgba(0,0,0,0.7);}
}
.modal--active {
    display: flex;
}
.modal__body {
    position: relative;
    background: white;
    min-width: 500px;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}
.modal__body__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
.modal__body__close{
    position: absolute;
    top:0.5rem;
    right:0.5rem;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    width:1.5rem;
    height:1.5rem;
    line-height: 1.5rem;
    border-radius: 50%;
    color:#555;
}
@media (max-width: 540px){
    .modal__body {
        min-width: initial;
    }
}
@media (max-width: 360px){
    .modal__body {
        max-width: 320px;
    }
}
.mobile-overlay__header {
    display: none;
}
@media (max-width: 639px) {
    .mobile-overlay {
        position: fixed;
        z-index: 10;
        top:0;
        bottom:0;
        left: 0;
        right:0;
        display:none;
    }
    .mobile-overlay__bg {
        position: fixed;
        top:0;
        bottom:0;
        left: 0;
        right:0;
        background: rgba(0,0,0,0.7);
    }
    .mobile-overlay__header {
        display: block;
        margin-bottom: 1rem;
    }
    .mobile-overlay__body {
        height:100%;
        overflow-y: auto;
        position: fixed;
        top:0;
        bottom:0;
        left: 2rem;
        right:0;
        background: white;
    }

    .mobile-overlay__content {
        padding:2rem;
    }

    .mobile-overlay__close {
        position: fixed;
        top:1rem;
        right:1rem;
        font-weight: 900;
        font-size: 2rem;
        color:red;
    }
    .mobile-overlay__close::after {
        content:'×';
    }

    .mobile-overlay--active {
        display: block;
    }

    @-webkit-keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .mobile-overlay--active .mobile-overlay__bg {
        -webkit-animation: fadein 0.3s;
                animation: fadein 0.3s;
    }

    @-webkit-keyframes fromright {
        from {
            transform: translateX(100vw);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes fromright {
        from {
            transform: translateX(100vw);
        }
        to {
            transform: translateX(0);
        }
    }

    .mobile-overlay--active .mobile-overlay__body {
        -webkit-animation: fromright 0.3s;
                animation: fromright 0.3s;
    }

    .mobile-overlay--pagelock {
        overflow: hidden;
    }

}
form fieldset {
    border: none;
    padding: 0;
}
form label{
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    color:gray;
}
form input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
}
form button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 2px;
    background: #555;
    color:white;
    text-transform: uppercase;
    font-weight: 700;
    padding:0.5rem 1rem;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
form h3 {
    display: flex;
    font-weight: normal;
}
form h3 > *:first-child {
    margin-right: 1rem;
}
.form__readonly label {
    text-transform: uppercase;
    display: block;
    color: gray;
    font-size: 0.8rem;
    margin-top: 1rem;
    
}
.form__readonly-field {
    text-transform: none;
    color: black;
    padding: 0.5rem;
}
form .constrain-box {
    max-width: 400px;
}
.form__field-help {
    text-transform: none;
    font-size: 0.7rem;
    line-height: 0.8rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
::-webkit-input-placeholder{
    font-style: italic; 
    color: lightgray;
}
::-moz-placeholder{
    font-style: italic; 
    color: lightgray;
}
:-ms-input-placeholder{
    font-style: italic; 
    color: lightgray;
}
::-ms-input-placeholder{
    font-style: italic; 
    color: lightgray;
}
::placeholder{
    font-style: italic; 
    color: lightgray;
}
.form__actions-row {
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
}
.form__actions-row--spaced {
    justify-content: space-between;
}
.form__actions-row--spaced > *:not(:first-child) {
    margin-left: 10px;
}
.form__actions-row--right {
    justify-content: flex-end;
}
.grid-item-highlight{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.grid-item-highlight--left {
    align-items: flex-start;
}
.grid-item-highlight img {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100%;
    margin: 1rem 0;
}
.grid-item-highlight h3 {
    margin: 0;
}
.grid-item-highlight p {
    font-size: 13px;
    line-height: 1rem;
    margin: 0;
    margin-bottom: 0.5rem;
}
.grid-item-highlight--hero{
    align-items: flex-start;
}
.grid-item-highlight--hero img {
    width: 100%;
    max-height: initial;
    margin-bottom: 1rem;
}
.grid-item-highlight-actions{
    width:100%;
    text-align: center;
}
.grid-item-highlight--left .grid-item-highlight-actions {
    text-align: left;
}
.grid-item-highlight-actions a {
    font-size: 0.8rem;
    padding: 0.1rem 0.6rem;
    text-decoration: none;
    line-height: 1.6rem;
    display: inline-block;
    margin: 0.2rem;
    background: #efefef;
    color: #606060;
    border-radius:5px;
    transition: all 0.3s;
}
.grid-item-highlight-actions a:hover{
    background: #444;
    color: white;
}
header{
    width: 100%;
}
.header-searchrow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 0.7rem 0;
}
.header-user{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.header-user a{
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
    font-weight: 400;
    margin-left:2rem;
}
.header-account {
    position: relative;
}
.logo{
    position: absolute;
    top: 2.7rem;
    -o-object-fit: contain;
       object-fit: contain;
    width: 200px;
}
nav {
    position: relative;
    background: #efefef;
    background: linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
    color:#606060;
    margin: 0;
}
.nav-inner {
    overflow-x: auto;
    padding: 0 1rem;

}
.nav-fade {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:2rem;
    pointer-events: none;
    background: linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.nav-fade--left {
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

}
.nav-fade--right{
    left: initial;
    right:0;
}
nav ul{
    display:flex;
    justify-content: space-between;
    margin:0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
nav ul li{
    display:block;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: #606060;
    padding: 1rem;
}
.search-main{
    display: flex;
}
.search-main input{
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    border:1px solid lightgray;
    border-right:none;
    width:200px;
    flex:1 1 auto;
}
.search-button{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    background: #efefef;
    background: red;
    color:#606060;
}
.search-button--invert {
    background: white;
}
.search-button__icon{
    -o-object-fit: contain;
       object-fit: contain;
    width:1.2rem;
    height:1.2rem;
}
@media (max-width: 640px){
    nav {
        margin: 0 -1rem;
    }
    .header-account {
        position: initial;
    }
}
@media (max-width: 540px){
    .header-user {
        margin-bottom: 1.3rem;
    }
    .logo {
        width: 100px;
        top:0.75rem;
    }

    .search-main {
        width: 100%;
        justify-content: space-between;
    }
}
footer {
    border-top: 1px solid lightgray;
    font-size: 13px;
    margin: 2rem -2rem 0 -2rem;
    padding: 2rem 2rem 5rem 2rem;
}
@media (max-width: 640px){
    footer {
        margin: 2rem -1rem 0 -1rem;
        padding: 2rem 1rem 5rem 1rem;
    }
}
.product-card {
    min-height: 150px;
    line-height: 1.5rem;
    padding: 1.5rem;
    background: white;
    margin: 2rem 0;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    position: relative;
    /* margin-bottom: 1rem; */
}
.product-card:first-child {
    margin-top: 0;
}
.product-card header {
    margin-bottom: 1rem;
    line-height: 1.2rem;
}
.product-card header strong {
    white-space: nowrap;
}
.product-card__remove-from-cart {
    position: absolute;
    right:1rem;
    top:0.7rem;
    font-size: 1.5rem;
    color:red;
}
.product-card img {
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100px;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}
.product-card__row {
    display: flex;
}
.product-card__row__cart-wrap {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;
}
.product-card__left-third {
    display: flex;
    flex-wrap: wrap;
}
.product-card__row__cart {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.product-card__row__cart__inputs {
    display: flex;
}
.product-card__row__cart__in-cart {
    font-size: 0.8rem;
    margin-right: 0.5rem;
}
.product-card__row__cart small {
    font-size: 0.8rem;
    white-space: normal;
    line-height: 0.9rem;
    display: block;
}
.product-card__row__cart--right {
    justify-content: flex-end;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}
.product-card__row__cart__pricerow {
    display: flex;
    justify-content: space-between;
}
.product-card__row__cart__pricerow span {
    display: block;
}
.product-card__row__cart__pricerow span:first-child {
    margin-right: 1rem;
}
.product-card__calculatorbutton, .product-card__cartbutton {
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
}
.product-card__calculatorbutton img, .product-card__cartbutton img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.product-card__calculatorlink {
    display: block;
    text-align: right;
    font-size: 0.8rem;
    color:red;
}
.product-card__qtyinput {
    max-width: 100px;
    padding: 0.2rem 0.4rem;
}
.product-card__infocol {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-card__row__packinfo {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 1.5rem;
}
.product-card__row__infobar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 2rem;
}
.product-card__row__infobar__info {
    margin-top: 1rem;
}
.product-card__row__infobar a {
    display: block;
    font-size: 0.8rem;
    line-height: 0.8rem;
}
.product-card__row__infobar .product-card__row__infobar__pdflink {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding-right: 1rem;
}
.product-card__row__infobar__pdflink img {
    height:25px;
    max-height: 25px;
    margin:0;
}
.product-card__instore-num {
    color:red;
}
.breadcrumbs ul {
    padding: 0;
    margin:0;
}
.breadcrumbs li {
    display: inline;
    font-size: 0.8rem;
}
.breadcrumbs li:not(:last-child)::after {
    content: '›';
}
.product-card__discount-flag {
    color: green;
}
.product-card__discontinued-flag {
    color: red;
}
.product-card__discontinued-cta {
    font-size: 0.8rem;
    line-height: 0.9rem;
}
.product-card__discontinued-cta a {
    white-space: nowrap;
    color: red;
}
.product-card__lastitems-flag {
    display: block;
    color:red;
}
.product-card__custom-name {
    display: inline-block;
    white-space: nowrap;
}
.product-card__custom-name__label {
    white-space: nowrap;
    font-size: 0.8rem;
    margin-left: 0.3rem;
    font-weight: bold;
    line-height: 0.8rem;
}
.product-card__custom-name__pencil {
    transform: scaleX(-1);
    display: inline-block;
}
.product-card__custom-name__save {
    display: none;
    font-weight: 900;
}
.product-card__custom-name__input {
    /* max-width: 155px; */
    padding: 0.2rem 0.3rem;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    display: none;
    height:1rem;
}
.product-card__custom-name--active .product-card__custom-name__input {
    display: initial;
}
.product-card__custom-name--active .product-card__custom-name__pencil {
    display: none;
}
.product-card__custom-name--active .product-card__custom-name__save {
    display: initial;
}
.product-card__custom-name--active .product-card__custom-name__label {
    display: none;
}
.product-group {
    margin-bottom: 1rem;
    display: none;
}
@-webkit-keyframes pg-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
@keyframes pg-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
.product-group--active {
    display: block;
    -webkit-animation: pg-fadein 0.3s;
            animation: pg-fadein 0.3s;
}
.product-group .product-card{
    border-left: 5px solid green;
    margin-left: -1rem;
    padding-left: 1rem;
}
.product-card__dropdown-button {
    background: white;
    border: 2px solid gray;
    border-radius: 3px;
    padding: 5px 10px;
}
.product-card__dropdown-button--substitute { border-color: green; }
.product-card__dropdown-button--accessory { border-color: orange; }
.product-card__dropdown-button--complementary { border-color: slategray; }
.product-card__dropdown-button--pair { border-color: coral; }
.product-group__header {
    margin: 0 1rem 0.5rem;
    text-transform: uppercase;
    font-weight: 900;
    color:green;
    max-width: 88%;
}
.product-group__header-warning {
    font-weight: 100;
    font-size: 0.8rem;
    margin-left: 1rem;
}
.product-group--accessory .product-card{
    border-left-color: orange;
}
.product-group--accessory .product-group__header{
    color: orange;
}
.product-group--complementary .product-card{
    border-left-color: slategray;
}
.product-group--complementary .product-group__header{
    color: slategray;
}
.product-group--pair .product-card{
    border-left-color: coral;
}
.product-group--pair .product-group__header{
    color: coral;
}
.product-group__productlist {
    margin-left: 1.5rem;
}
.cart .breadcrumbs {
    display: none;
}
.cart .product-card__row__infobar__pdflink {
    display: none;
}
.cart .product-card__pricebox small {
    display: none;
}
.cart .product-card__row__cart__pricerow {
    font-size: 0.8rem;
    line-height: 1.1rem;
}
.cart .product-card__image {
    max-width: 80px;
}
@media (max-width: 639px){
    .product-card {
        margin: 1rem 0;
        padding: 1rem;
    }
    .product-card__row__cart__pricerow:first-of-type {
        margin-top: 0.5rem;
    }
    .product-card__row__cart__pricerow {
        line-height: 1.1rem;
    }
    .product-card__row__cart__pricerow span {
        font-size: 0.8rem;
    }
    .product-group__header-warning {
        display: block;
        margin-left: 0;
    }
    .product-card:first-child {
        padding-top: 1rem;
    }
    .product-card__row__cart--right {
        margin-top: 1.7rem;
        flex-direction: column-reverse;
    }
    .product-card__infocol {
        margin-bottom: 2rem;
    }
    .product-card__row__infobar {
        position: absolute;
        width: 80vw;
        bottom:-3rem;
    }
    .product-card__qtyinput {
        border: 1px solid gray;
    }
    .product-card__row__cart__in-cart {
        margin-right: 0;
        width:100%;
        text-align: right;
    }
}
.product-card-simple {
    display: block;
    margin: 0.5rem 0;
    font-size: 12px;
}
.product-card-simple header {
    font-size: 14px;
}
.product-card-simple__row {
    display: flex;
    margin: 0 -0.5rem;
}
.product-card-simple__row > div {
    margin: 0 0.5rem;
}
.product-card-simple img {
    width: 60px;
}
.order-card {
    background: white;
    padding: 1rem;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    margin-bottom: 1rem;
}
.order-card__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.order-card__cartbutton img{
    width:30px;
}
.order-card__header__item--right {
    text-align: right;
}
.order-card__products {
    display: none;
}
.order-card__products--active {
    display: block;
}
.order-card__detail-link {
    color: red;
    font-size: small;
    margin: 0.6rem 0;
    display: inline-block;
}
@media (max-width:960px){
    .order-card__header {
        flex-wrap: wrap;
    }
    .order-card__header > div {
        flex: 1 1 50%;
    }
}
.webstore .logo {
    position: relative;
    top:0;
}
.webstore__brand {
    display: flex;
    align-items: center;
}
a.webstore__brand__logo-link {
    margin: 0;
    margin-left: 0;
}
.webstore .search-main {
    margin-top: 1rem;
}
.search-button-webstore-filter {
    margin-left: 0.5rem;
    display:none;
}
.webstore__filter-container {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.webstore__filter-container > * {
    margin-right: 1rem;
}
.webstore__filter-container label {
    font-size: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.webstore__filter-container label > input {
    cursor: pointer;
}
.webstore__filter-container select {
    padding: 0.15rem 0.3rem;
    border: 1px solid lightgray;
}
.webstore__filter-container input[type="checkbox"] {
    margin-left: 0;
}
.webstore-wrap {
    display: flex;
    margin-top: 1rem;
}
.webstore__main {
    flex: 1 1 100%;    
}
.webstore__categories {
    margin-right: 2rem;
    padding-left: 0.7rem;
    max-width: 250px;
    overflow-x: hidden;
}
.webstore__categories ul {
    line-height: 1.5rem;
    font-size: 0.8rem;
    list-style-type: none;
    margin:0;
    padding: 0;
}
.webstore__categories li {
    white-space: nowrap;
    letter-spacing: -0.025rem;
    position: relative;
}
.webstore__categories__root ul {
    margin-left: 1rem;
    position: relative;
}
.webstore__categories__root ul::before {
    content: '';
    position: absolute;
    border-left: 1px solid lightgray;
    left:-23px;
    top:-12px;
    bottom:12px;
}
.webstore__categories__root li {
    position: relative;
    padding-left: 0.5rem;
}
.webstore__categories__root ul li::before {
    content: '';
    position: absolute;
    width:1rem;
    top:12px;
    left:-1.4rem;
    border-bottom: 1px solid lightgray;
}
.webstore__categories .tree-icon::before {
    content: '+';
    box-sizing: border-box;
    font-style: normal;
    position: absolute;
    left:-0.7rem;
    z-index: 2;
    top:7px;
    border:1px solid gray;
    color:gray;
    background: #eaeaea;
    line-height: 9px;
    width:10px;
    padding-left: 1px;
    font-size: 10px;
}
.webstore__categories .tree-icon--active.tree-icon::before{
    content: '–';
}
.webstore-menupagination {
    overflow-x: hidden;
    margin-left: -1rem;
    padding-left: 1rem;
    margin-right: -1rem;
    padding-right: 1rem;
}
.webstore-menupagination__pagination{
    margin-left: -0.7rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}
.webstore-menupagination__pagination__button {
    margin:5px;
    cursor: pointer;
    color: red;
    font-size: 14px;
}
.webstore-menupagination__pages {
    transition: transform 0.3s ease;
    width: 115%;
    display: flex;
}
.webstore-menupagination__pages__page {
    flex: 0 0 115%;
}
@media (max-width: 639px) {
    .search-button-webstore-filter {
        display: block;
    }
    .webstore__filter-container {
        display: none;
    }

    @-webkit-keyframes filters-container-open {
        from{
            transform: translateX(1rem);
            opacity: 0;
        }   
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes filters-container-open {
        from{
            transform: translateX(1rem);
            opacity: 0;
        }   
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .webstore__filter-container--active {
        display: flex;
        margin: 1rem -0.5rem 0;
        -webkit-animation: filters-container-open 0.3s;
                animation: filters-container-open 0.3s;
    }

    .webstore__filter-container--active > * {
        flex: 1 1 40%;
        margin: 0.2rem 0.5rem;
    }
    .webstore-menupagination {
        margin-top: 2rem;
    }
    .webstore-menupagination__pagination{
        margin-right: -1rem;
    }
}
.supplier-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    padding: 1rem;
    min-height: 360px;
}
.supplier-menu {
    overflow-x: unset;
}
.supplier-grid img {
    max-width: 150px;
    max-height: 75px;
}
.supplier-grid a {
    display: block;
    margin: 1.3rem;
    background: white;
}
.supplier-menu__button-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.supplier-header {
    text-transform: uppercase;
    font-weight: 100;
    margin: 1.5rem 0;
}
.supplier-header-wrap {
    display: flex;
    align-items: center;
}
.supplier-header-wrap input {
    margin-left: 1rem;
    padding: 0.4rem 0.8rem;
    border: 1px solid lightgray;
}
.supplier-menu__linkwrap a {
    white-space: nowrap;
}
@media (max-width: 460px) {
    .supplier-grid img {
        max-width: 102px;
    }
    .supplier-header-wrap {
        display: block;
    }
    .supplier-header-wrap input {
        margin:1rem 0;
        width: 100%;
    }
}
.account-menu-button-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
}
.account-menu-button-wrap h2 {
    line-height: 1rem;
    margin:0;
}
.account-menu-button {
    line-height: 1rem;
    display: none;
    color:white;
}
.account-menu__linkwrap a{
    display: block;
    margin: 0.7rem 0;
    font-size: 0.8rem;
}
.account-menu__linkwrap .account-menu__selected-link {
    text-decoration: underline;
}
.account__desktop-header {
    font-weight: 100;
}
.account-menu-button-wrap h2 {
    font-weight: 100;
}
.cart__total {
    margin-right: 1rem;
}
.cart__total-wrap {
    display: flex;
}
.cart__total-row{
    display: flex;
    justify-content: space-between;
}
.cart__total-row span:first-child {
    margin-right: 1rem;
}
.cart__checkout-btn {
    border: none;
    background: red;
    color:white;
    border-radius: 3px;
    padding: 7px 12px;
    
}
.account-card {
    min-height: 150px;
    line-height: 1.5rem;
    padding: 1.5rem;
    background: white;
    margin: 2rem 0;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    position: relative;
}
.account-card--big {
    padding: 2.3rem 2rem;
}
.account-card h2 {
    text-transform: uppercase;
}
.account-card strong {
    color: black;
}
.account__address form {
    max-width: 600px;
}
.account__address input {
    display: block;
}
.account__address__row {
    display: flex;
    margin: 0 -1rem;
}
.account__address__row label {
    margin: 0 1rem;
    flex: 1 1 auto;
}
.account__address__row label.short, label.short{
    flex: 0 1 200px;
}
.account__address__delete {
    position: absolute;
    right:1rem;
    top:0.7rem;
    color:red;
}
.account__address__add-button {
    background: red;
    color:white;
    border:none;
    padding: 8px 14px;
    border-radius: 3px;
}
@media (max-width:640px){
    .account-menu-button-wrap {
        margin: 1rem 0;
    }
    .account-menu-button {
        display: inline-block;
    }
    .cart__total {
        margin-top: 1.5rem;
    }
    .cart__checkout-btn {
        margin-top: 1.5rem;
    }
    .cart__total-wrap {
        flex: 1 1 auto;
        justify-content: space-between;
    }
    .account__address__row {
        display: block;
    }
    
}
.account-overlay {
    position: absolute;
    min-width: 500px;
    z-index: 2;
    right:100px;
    top:30px;
    padding:1rem;
    background: white;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    opacity: 0;
    display: none;
}
@-webkit-keyframes show-acc-overlay {
    0% {
        opacity: 0;
    }
    1% {
        display: block;
    }
    100% {
        opacity: 1;
    }
}
@keyframes show-acc-overlay {
    0% {
        opacity: 0;
    }
    1% {
        display: block;
    }
    100% {
        opacity: 1;
    }
}
.account-overlay--active {
    display: block;
    -webkit-animation: show-acc-overlay 0.3s;
            animation: show-acc-overlay 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.account-overlay header {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 1rem 0;
}
.account-overlay__cols {
    display: flex;
    height:100%;
}
.account-overlay .account-overlay__close {
    position: absolute;
    right:15px;
    top:20px;
    line-height: 0;
    font-size: 1.5rem;
    color:red;
}
.account-overlay__left-col {
    padding-right: 1rem;
    flex: 0 1 70%;
    border-right: 1px solid lightgray;
}
.account-overlay__col-header img {
    margin-right: 0.5rem;
}
.account-overlay__col-header {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}
.account-overlay__right-col {
    margin-left: 1rem;
}
.account-overlay__right-col a {
    display: block;
    margin: 0.7rem 0;
    font-size: 0.8rem;
}
.account-overlay__product {
    display: flex;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}
.account-overlay__product img {
    margin-right: 0.5rem;
}
.account-overlay__product__info {
    display: flex;
}
.account-overlay__product__info a{
    margin: 0;
    color: red;
}
.account-overlay__product__info__qty {
    white-space: nowrap;
}
@media (max-width: 640px) {
    .account-overlay {
        right:-1rem;
        min-width: unset;
        width:100vw;
        top:50px;
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    .account-overlay__cols {
        flex-direction: column;
    }
    .account-overlay__left-col {
        border-right: 0;
    }
    .account-overlay__right-col {
        margin-left: 0;
        margin-top: 0;
    }
    .account-overlay__right-col a {
        font-size: 1rem;
        margin: 1rem 0;
    }
}
