@font-face {
    font-family: FatFace;
    src: url(/static/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(/static/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 1 999;
}

h1, h2, h3 {font-family: FatFace; font-weight: 500;}
* {box-sizing: border-box;}
img {display: block;} 
html, body {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
}
.big-shadow {-webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4);}

.scales-bg {
    background-image: url(/static/img/scales-bg.png);
}


:root {
    --color-bg: #c1e6e8;
}

.site-width {
    max-width: 640px;
    margin: 0 auto;
}

.top-logo {
    margin: 2rem auto;
    display: block;
    max-width: 80% ;
}

.envelope-box {
    border: 20px solid white;
    background-color: var(--color-bg);
}

.envelope-box__title {
    font-size: 2.5rem;
    font-weight: lighter;
    margin: -0.5rem 0 1rem -0.5rem;
}

.envelope-box__content {
    margin: 1rem 4rem;
}

.envelope-image-wrap {
    position: relative;
    display: inline-block;
}

.envelope-image-wrap__bg {
    position: absolute;
    width: 100%;
}
.envelope-image-wrap__bg > img {
    width: 100%;
}

.envelope-image-wrap__box {
    position: relative;
    width: calc(100% - 4rem);
    top:3rem;
    margin: 3rem 2rem;
    border-bottom: none;
}

.news-content {
    min-height: 350px;
}

.about-box {
    margin-top: 11rem;
    border-bottom: 20px solid white;
}

.menu-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin: 3.5rem 0 0 0;
}

.envelope-box__subtitle {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 1.3rem;
    margin: -1.5rem 4rem -1rem 4rem;
}

.menu-section-image {
    width: 100%;
}

.menu-section {
    padding: 0.05px;
    background-image: url(/static/img/paper-bg.png);
    position: relative;
}

.menu-section__header {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
    padding: 0 5rem 1rem 1.5rem;
    top:-4rem;
    margin-bottom: -6rem;
}

.menu-section__rows {
    margin-left: 4rem;
    margin-right: 4rem;
}
.menu-section__row {
    display: flex;
}

